html {
  box-sizing: border-box;
}

html,
body,
#root {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;

  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #222431;

  font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
}
